@import "tailwindcss";

:root {
  --white: #ffffff;
  --black: #000000;
  --font-sans: "Quicksand", sans-serif;
}

@font-face {
  font-family: "Quicksand";
  src: url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
}

@theme {
  --color-white: #ffffff;
  --color-black: #000000;
}

body {
  background: var(--white);
  color: var(--black);
  font-family: var(--font-sans);
}
